html,body {
  min-width:100%;
  min-height:100%;
}

.container{
  display: flex;
  flex-direction: column;
  
  max-width:  50%;
  max-height: 70%;
  margin: 5px;
  padding:0;
  
  border-color:#E0E0E0;
  border-width: 1.5px;
  border-style: solid;
  border-radius:15px;
}

.game{
  display:flex;
  background:#FFF;
  max-width: 99%;
  max-height:99%;
  padding:0;
  margin-left: 5px;
  margin : 5px 5px;
}

/* ---------------------------------------------------------------------------- */
/* Game Level */
/* ---------------------------------------------------------------------------- */
.game-level{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-level .dropdown-item {
  font-size: 12px;
}

.game-level .icon{
  width:  18px;
  height: 18px;
  margin-right: 20px;
}

/* ---------------------------------------------------------------------------- */
/* Game Role */
/* ---------------------------------------------------------------------------- */
.game-role{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-role .btn:focus, .game-role .btn:hover {
  border-bottom-color: rgb(20, 189, 172) !important;
  border-bottom-width:2px !important;
}

.game-role .btn {
  display:flex;
  flex-direction: row;
  text-decoration: none;
  
  width: 25%;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
  
  border-color:#E0E0E0;
  border-width: 1.8px;
  
  border-style: solid;
  border-radius:7px;
}

.game-role .btn .char-player{
  font-size: 15px;
  font-weight:500;
  color:#000000;
}

.game-role .btn .char-score{
  font-size: 25px;
  font-weight:600;
  color:#78909C; 
}

/* ---------------------------------------------------------------------------- */
/* Game Turn */
/* ---------------------------------------------------------------------------- */
.game-turn{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.game-turn .player-turn{
  font-size:15px;
  font-weight:600;
}

.game-turn .text-turn{
  font-size:12px;
  font-weight:400;
  margin-left: 5px;
}

/* ---------------------------------------------------------------------------- */
/* Game Board */
/* ---------------------------------------------------------------------------- */
.game-board{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;

  background:rgb(20, 189, 172);
  min-height:95%;
  min-width:95%;
}

.game-board .squares {
  margin:2px;
}

.game-board .square{
  min-height: 25%;
  min-width:  25%;
  background:white;
  font-size: 20px;
  margin:1px;
}

/* ---------------------------------------------------------------------------- */
/* Game Restart */
/* ---------------------------------------------------------------------------- */
.game-restart{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.game-restart .btn, .game-restart .btn:focus, .game-restart .btn:hover{
  width:99%;
  text-decoration: none;
  color:rgb(20, 189, 172);
  border-radius:15px;
  overflow:hidden;
}