  <div class="game game-role">
    
    <a class="btn btn-role-X" onclick="set_role_X()" href="#">
      <div class="char-player role-X">X</div>
      <div class="char-score">
        {% if score['X'] == 0 %}
        -
        {% else %}
        {{ score['X'] }}
        {% endif %}
      </div>
    </a>
    
    <a class="btn btn-role-O" onclick="set_role_O()" href="#">
      <div class="char-player role-O">O</div>
      <div class="char-score">
        {% if score['O'] == 0 %}
        -
        {% else %}
        {{ score['O'] }}
        {% endif %}
      </div>
    </a>
    
  </div>