<div class="game game-level">
  <div class="dropdown">
    <button class="btn btn-transparent dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Difficult
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% if options : %}
        {% for o in options : %}
          <a class="dropdown-item" href="#"> {{ o }} </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <img class="icon" src="{{ url_for('static', filename='img/share_icon.png')}}">
</div>
