  <div class="game game-board">
    <div class="squares">
      {% for row in range(attr['game_board']['row']) %}
        <div class="row">
          {% for col in range(attr['game_board']['col']) %}
            <div class="col-auto">
              {% if row == 0 and col == 0 %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-top-border no-left-border" href="#">
                  
                </div>

             {% elif row == (attr['game_board']['row']-1) and col == 0 %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-bottom-border no-left-border" href="#">
                  
                </div>
              {% elif row == 0 and col == (attr['game_board']['col']-1) %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-top-border no-right-border" href="#">
                  
                </div>
              
              {% elif row == (attr['game_board']['row']-1) and col == (attr['game_board']['col']-1) %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-bottom-border no-right-border" href="#">
                  
                </div>
              {% elif row == 0 %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-top-border" href="#">
                  
                </div>
              {% elif col == 0 %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-left-border" href="#">
                  
                </div>

              {% elif row == (attr['game_board']['row']-1) %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-bottom-border" href="#">
                  
                </div>

              {% elif col == (attr['game_board']['col']-1)  %}
                <div value="{{ attr['player_turn'] }}" class="btn square no-right-border" href="#">
                  
                </div>
                  
              {% else %}
                <div value="{{ attr['player_turn'] }}" class="btn square" href="#">
                  
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>