  <div class="game game-role">
    
    <a class="btn" href="#">
      <div class="char-player">X</div>
      <div class="char-score">
        {% if score['X'] == 0 %}
        -
        {% else %}
        {{ score['X'] }}
        {% endif %}
      </div>
    </a>
    
    <a class="btn" href="#">
      <div class="char-player">O</div>
      <div class="char-score">
        {% if score['O'] == 0 %}
        -
        {% else %}
        {{ score['O'] }}
        {% endif %}
      </div>
    </a>
    
  </div>